@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@theme {
  --color-notFound-Wine: #7a0000;
  --color-notFound-Wine-light: #a73424;
  --color-squareBackground-gray: #eaecf1;
}

@layer utilities {
  .boxedLogin {
    @apply w-full max-w-md sm:max-w-sm mx-auto my-auto;
    @apply px-20 py-10 sm:py-8;
  }
}
